
body{
    background:black;
    max-width:96vw;
    min-height:100vh;
    display:grid;
    overflow:visible;
}
body::-webkit-scrollbar{
    display:none;
}
    header{
        display: flex;
        color: black;
        flex-direction:row;
        padding:10px;
        align-items: baseline;
        justify-content:space-between;
        z-index:-1;
        

        
    }
    .N-logo{
    
        color: red;
        font-family:Arial;
        font-size:40px;
        font-weight:bold;
        
        

    }
    .header-elements{
        font-family:Arial;
        font-size:20px;
        color:white;
    }
    .header-elements-span{
        margin-left:10px;
    }
    section{
        /* margin-left:-10px; */
        padding-bottom:30px; 
        
    }
    .slides{
        width:93%;
        height: 100vh;
        position: relative;
        /* box-shadow:rgba(0,0,0,0.35) 0px 5px 15px; */
    }
    .slide{
        position: absolute;
        height:100%;
        opacity:0;
        inset:0;
        z-index:-1;
        animation: slide-show 12s infinite;
    }
    .slide-2{
        animation-delay:4s;
        z-index:-1;
    }
    .slide-3{
        z-index:-1;
        animation-delay: 8s;
    }
    .slide-4{
        z-index:-1;
        animation-delay: 12s;
    }
    .slide-5{
        z-index:-1;
        animation-delay: 16s;
    }
    .slide-6{
        z-index:-1;
        animation-delay: 20s;
    }

    .slide img{
        width: 100vw;
        height:100%;
        object-fit:cover;
        
        z-index:-1;
        /* margin-top:-100px; */
    }

    @keyframes slide-show{
        0%{
            opacity:0;

        }
        10%{
            opacity:1;
            
        }
        20%,30%{
            opacity:1;
            scale: 1.03;
            
        }
        50%{
            opacity:0;
        }
    }

    
    .card-title{
        color:white;
        font-weight:bold;
        font-family:Arial;
        font-size:20px;
        margin-top:30px;
    }
    
    .container{
        max-width:100vw;
        padding:20px;
        display: flex;
        flex-direction:row;
        overflow: scroll;
        white-space: nowrap;

    }
    .container::-webkit-scrollbar{
        display:none;
    }
    
    .card{
        margin:0 10px;
        transition:0.5s;
        
        /* shadow effect */
    }
    .card img{
        display:block;
        border-radius:5px;
        padding:0px;
        
    }
    .card:hover{
        transform: scale(1.1);
        z-index : 2;
        border-style: solid;
        border-color: white;
    }

    footer{
        background-color:black;
        color: white;
        display:grid;
        grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
        padding:30px;
        margin-top:10px;
        font-size:20px;
        
        
    }   

    .footer-elements{
        
        display:flex;
        flex-direction:column;
    }
    .footer-elements~span{
        margin:10px;
    }
    


    
